<div class="icons-demo" id="icons">
  
  <div class="icons__item" data-name="close">
    <i class="icon--close"></i> icon--close
  </div>
  
  <div class="icons__item" data-name="coupon">
    <i class="icon--coupon"></i> icon--coupon
  </div>
  
  <div class="icons__item" data-name="menu">
    <i class="icon--menu"></i> icon--menu
  </div>
  
  <div class="icons__item" data-name="placeholder">
    <i class="icon--placeholder"></i> icon--placeholder
  </div>
  
  <div class="icons__item" data-name="plant_a_tree_dark">
    <i class="icon--plant_a_tree_dark"></i> icon--plant_a_tree_dark
  </div>
  
  <div class="icons__item" data-name="plant_a_tree_light">
    <i class="icon--plant_a_tree_light"></i> icon--plant_a_tree_light
  </div>
  
  <div class="icons__item" data-name="search">
    <i class="icon--search"></i> icon--search
  </div>
  
</div>
